 <div class="user-details">
  <h1> 雨露均沾 </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
   <div class="tech">
      <h2>工具</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-mongodb-plain-wordmark"></i>
      <i class="devicon-intellij-plain-wordmark colored"></i>
      <p>Intellij Idea/Git/Redis/ActiveMQ/RocketMQ/Kafka//MongoDB/MySQL/PostgreSQL/Oracle等</p>
    </div>
   <div class="tech">
      <h2>后端</h2>
      <i class="devicon-gradle-plain colored"></i>
      <i class="devicon-linux-plain"></i>
      <i class="devicon-java-plain-wordmark"></i>
      <p>Linux/Java/Spring/SpringMVC/SpringBoot/Mybatis/Druid/C3p0/Freemarker/Thymeleaf/Dubbo/Thrift/HttpClient/Gradle/Maven等</p>
    </div>
    <div class="tech">
      <h2>前端</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <p>Html/Html5/Javascript/JQuery/KendoUI/Css/Css3/Bootstrap框架/ReactJS/ExtJS等技术</p>
    </div>
</div>
